/********* OLDER ************/


/* General */
html { 
	overflow-y:scroll; 
	overflow-x:hidden;
}
body { 
	/* padding-top:50px; */
	/*background-image: radial-gradient(16px at 60px 50% , #000000 0%, #000000 14px, rgba(0, 0, 0, 0.3) 18px, rgba(0, 0, 0, 0) 19px);*/
	/*http://www.cssmatic.com/gradient-generator#'\-moz\-radial\-gradient\%28center\%2C\%20ellipse\%20cover\%2C\%20rgba\%28255\%2C255\%2C255\%2C1\%29\%200\%25\%2C\%20rgba\%2889\%2C111\%2C148\%2C1\%29\%20100\%25\%29\%3B'*/
/*	background-color: rgba(255,255,255,1);
	background: @include filter-gradient(#ffffff, #596f94, horizontal);
	background: @include background-image(radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(89,111,148,1) 100%));*/

	background: rgba(255,255,255,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(89,111,148,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(89,111,148,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(89,111,148,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(89,111,148,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(89,111,148,1) 100%);
	background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(89,111,148,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#596f94', GradientType=1 );

	// later: put gradient on pie too: http://www.highcharts.com/demo/pie-gradient;

	background-attachment: fixed;
}
* {
	vertical-align: middle; 
}


#org-controls,
#org-controls .org {
	@extend .text-center;
	@extend .row;
}

/* Pretty Buttons */
.org { 
	margin-bottom: 10px;
}
.org .name, 
.org .portion { 
	width: 200px; 
	display: inline-block;
	font-weight: bold;
	font-size:1.5em;
}
.org .btn.delete { 
	margin-right:30px;
}
.org .name { 
	margin-right:10px;
}
.org .portion { 
	width: 50px;
	text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none;   <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}





/********** NEWER *************/


/*  http://ely-s.github.io/mixin/  this is cool, but isnt needed if all I want to do is extend */


/*  https://coderwall.com/p/wixovg/bootstrap-without-all-the-debt  -> use @extend! yes... */

button {
	@extend .btn;
}
button.increase {
	@extend .btn-success;
	span {
		@extend .glyphicon, .glyphicon-plus;
	}
}
button.decrease {
	@extend .btn-warning;
	span {
		@extend .glyphicon, .glyphicon-minus;
	}
}
button.delete {
	@extend .btn-danger;
}
#org-form {
	@extend .row, .text-center;
	input[type="submit"] {
		@extend .btn, .btn-primary, .btn-lg, .glyphicon;
	}
}


/* needs help */
#pieChart {
	min-width: 310px;
	max-width: 600px;
	height: 400px;
	margin: 0 auto
}

#giving-chart {
	.highcharts-data-labels {
		tspan:last-child {

			text-decoration: overline;
			/*OR: use something like this: ______ in the template, then use some funcs to set the dy to 4. this gives a thicker line, with the svg drop-shadow, which, unlike overline, will show up in a downloaded svg. NOTE on SVG conversion: their exporter fails. have to use some other method to convert to PNG from the SVG they give, or that's sitting in the DOM.
			/* text-overline-width: thick; */ /* nope... not supported in any browsers... https://docs.webplatform.org/wiki/css/properties/text-overline-width */

			/* border-top:2px solid white; */ /* nope... doesn't work in SVGs */

		}
	}
}