<div id="portfolioBasic" class="row">

	<div class="col-sm-6 col-sm-push-6">
		<highchart id="giving-chart" config="chartConfig"></highchart>
	</div>

	<div id="org-controls" class="col-sm-6 col-sm-pull-6">
		<div class="panel panel-default">
			<div class="panel-body">	
				<div id="org-editor" ng-if="orgs.selectedOrg">
					<div class="row">
						<div class="col-sm-12">
							<input class="form-control input-lg" ng-model="orgs.selectedOrg.name">	
						</div>
					</div>
				</div>
				<div id="select-org-message" ng-if="!orgs.selectedOrg">
					Please select or create an organization.
				</div>
			</div>

		</div>
	</div>
	

</div>