<div style="width:300px">
	<highchart id="giving-chart" config="chartConfig" width="100%"></highchart>
</div>

<div style="width:300px">
	<highchart id="testHC" config="chartConfig" width="100%"></highchart>
</div>

<div id="org-list">
	<div class="org">
		<button class="delete" ng-click="orgs.$remove(orgs.selectedOrg);">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<input type="text" class="name" ng-model="orgs.selectedOrg.name" ng-change="orgs.$save(orgs.selectedOrg)"></input>
		<button class="decrease" ng-click="orgs.incrementOrgPortion(orgs.selectedOrg,-5);">
			<span></span>
			<span></span>
		</button>
		<button class="decrease" ng-click="orgs.incrementOrgPortion(orgs.selectedOrg,-1);">
			&nbsp;<span></span>&nbsp;
		</button>
		<input class="portion" type="number" ng-model="orgs.selectedOrg.portion" ng-change="orgs.$save(orgs.selectedOrg)"></button>
		<button class="increase" ng-click="orgs.incrementOrgPortion(orgs.selectedOrg,1);">
			&nbsp;<span></span>&nbsp;
		</button>
		<button class="increase" ng-click="orgs.incrementOrgPortion(orgs.selectedOrg,5);">
			<span></span>
			<span></span>
		</button>
	</div>
	<hr>
	<div class="org" ng-repeat="org in orgs | filter:orgs.selectedOrgId:orgs.selectedOrgFilter"><!-- MAKE THE FILTER -->
		<button class="delete" ng-click="orgs.$remove(org);">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
		<input type="text" class="name" ng-model="org.name" ng-change="orgs.$save(org)"></input>
		<button class="decrease" ng-click="orgs.incrementOrgPortion(org,-5);">
			<span></span>
			<span></span>
		</button>
		<button class="decrease" ng-click="orgs.incrementOrgPortion(org,-1);">
			&nbsp;<span></span>&nbsp;
		</button>
		<input class="portion" type="number" ng-model="org.portion" ng-change="orgs.$save(org)"></button>
		<button class="increase" ng-click="orgs.incrementOrgPortion(org,1);">
			&nbsp;<span></span>&nbsp;
		</button>
		<button class="increase" ng-click="orgs.incrementOrgPortion(org,5);">
			<span></span>
			<span></span>
		</button>
	</div>
</div>
<div id="org-form">
	<form>
        <input type="submit" class="" ng-click="addOrganization();" value="+"></input>
	</form>
</div>